{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>车辆维修统计</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <!-- jqgrid-->
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">


</head>

<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 车辆维修统计 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div>
                        维修类型: <select id="maintainType" style="width: 150px">
                        <option value="ALL">全部</option>
                        <option value="日常维修">日常维修</option>
                        <option value="年检">年检</option>
                        <option value="其他">其他</option>
                    </select>
                        <button style="width: 100px" onclick="search()">查询</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
<script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
<script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">
    function search() {
        var maintainType = $(" #maintainType ").val();
        console.log(maintainType)
        $.ajax({
            type: "get",
            async: false,
            data: {maintainType: maintainType},
            url: "./searchMaintenanceByType",
            dataType: "json",
            success: function (result) {
                console.log(result.showData)
                //清除旧数据
                $("#table_list_2").jqGrid("clearGridData");
                //显示新的数据
                showData(eval('(' + result.showData + ')'));
            }
        });
    }

    function showData(jqdata) {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid(
            {
                datatype: "json",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ["车辆类型", "拖车号/挂车号", "维修时间", "维修类型", "维修项目", "费用", "备注"],
                colModel: [
                    {
                        name: "vehicleType",
                        index: "vehicleType",
                        editable: false,
                        width: 100,
                        sortable: false
                    },
                    {
                        name: "vehicleID",
                        index: "vehicleID",
                        editable: false,
                        width: 100,
                        sortable: false
                    },
                    {
                        name: "maintenanceDate",
                        index: "maintenanceDate",
                        editable: false,
                        width: 100,
                        sorttype: "date",
                        formatter: "date",
                        sortable: true
                    },
                    {
                        name: "maintainType",
                        index: "maintainType",
                        editable: false,
                        width: 100,
                        sortable: false,
                    },
                    {name: "maintenanceItems", index: "maintenanceItems", editable: false, width: 100, sortable: false},
                    {name: "maintenanceCost", index: "maintenanceCost", editable: false, width: 100, sortable: false},
                    {
                        name: "maintenanceComment",
                        index: "maintenanceComment",
                        editable: false,
                        width: 100,
                        sortable: false
                    }],
                pager: "#pager_list_2",
                viewrecords: true,
                caption: "车辆维修统计",
                add: true,
                edit: true,
                addtext: "Add",
                edittext: "Edit",
                hidegrid: false
            });


        for (var i = 0; i <= jqdata.length; i++) {
            jQuery("#table_list_2").jqGrid('addRowData', i + 1, jqdata[i]);
        }

        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width)
        });


    }


</script>
</body>

</html>
