{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>客户充值</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 客户充值信息 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>客户充值</h5>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
<script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
<script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">

    function decodeUnicode(str) {
        str = str.replace(/\\/g, "%");
        return unescape(str);
    }

    function handleDataWithReplace(item) {
        var jobj_allData = ""
        var data = item.substring(1, item.length - 1);
        var str = data.replace(/\"/g, "")
        var strArr = str.split(",")
        for (var i = 0; i < strArr.length; i++) {
            var str_item = decodeUnicode($.trim(strArr[i]))
            if (i != strArr.length - 1) {
                jobj_allData += str_item + ":" + str_item + ";";
            } else {
                jobj_allData += str_item + ":" + str_item;
            }
        }
        return jobj_allData
    }

    function getFormatDate() {
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        return year + "-" + month + "-" + date;
    }

    function getAllCustomNames() {
        var allCustomNames = "";
        $.ajax({
            type: "get",
            async: false,
            url: "./getAllCustomNames",
            dataType: "json",
            success: function (result) {
                // 解析客户名称
                allCustomNames = handleDataWithReplace(result.allCustomNames);
            }
        });
        return allCustomNames;

    }

    function InitCustomerManageGrid(parameters) {
        $.jgrid.defaults.styleUI = "Bootstrap";
        var mydata = {{ showData|safe }};

        $("#table_list_2").jqGrid(
            {
                data: mydata,
                datatype: "local",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ["客户单位名称", "充值日期", "充值金额(元)"],
                colModel: [
                    {
                        name: "customName",
                        index: "customName",
                        editable: true,
                        width: 100,
                        sortable: false,
                        edittype: "select",
                        editoptions: {value: getAllCustomNames()}
                    },
                    {
                        name: "payTime",
                        index: "payTime",
                        editable: true,
                        width: 100,
                        sorttype: "date",
                        formatter: "date",
                        edittype: 'text',
                        editoptions: {defaultValue: getFormatDate()}
                    },
                    {
                        name: "payAmount",
                        index: "payAmount",
                        editable: true,
                        width: 100,
                        sortable: true,
                        formatter: "integer",
                        edittype: 'text',
                        editoptions: {defaultValue: "0"}
                    },
                    //{name: "balance", index: "balance", editable: false, width: 100, sortable: false},
                ],
                pager: "#pager_list_2",
                viewrecords: true,
                caption: "客户充值",
                add: true,
                edit: true,
                addtext: "Add",
                edittext: "Edit",
                hidegrid: false,
                editurl: "./editCustomPaymentInfo",
            });

        $("#table_list_2").jqGrid("navGrid", "#pager_list_2", {edit: true, add: true, del: false, search: false},
            {
                modal: true,
                jqModal: true,
                reloadAfterSubmit: false,
                closeAfterEdit: true,
                afterSubmit: function (response, postdata) {
                    if (response.status == "200") {
                        alert("修改成功!")
                        return [true]
                    } else {
                        alert("修改失败!")
                        return [false]
                    }
                }
            },
            {
                modal: true,
                jqModal: true,
                reloadAfterSubmit: false,
                closeAfterAdd: true,
                afterSubmit: function (response, postdata) {

                    if (response.status == "200") {
                        var newItem = JSON.parse(response.responseText);
                        alert("添加成功!");
                        return [true, "", newItem.new_id.toString()]

                    } else {
                        alert("添加失败!")
                        return [false]
                    }
                },
            },
            {},
            {},
        );
        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width)
        });

    };

    $(document).ready(function () {
        InitCustomerManageGrid();
    });


</script>

</body>
</html>