{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>客户余额信息</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 客户余额信息 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div>
                        客户单位名称: <select id="customName" style="width: 150px"> </select>
                        <button style="width: 100px" onclick="search()">查询</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
<script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
<script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">
    function handleData(item) {
        var data = item.substring(1, item.length - 1);
        var str = data.replace(/\"/g, "")
        var strArr = str.split(",")
        return strArr
    }

    function decodeUnicode(str) {
        str = str.replace(/\\/g, "%");
        return unescape(str);
    }

    function initSelectOptions() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getAllCustomNames",
            dataType: "json",
            success: function (result) {
                // 解析客户名称
                strArr = handleData(result.allCustomNames);
                $("#customName").html(""); //绑定客户名称下拉菜单
                //$("#customName").append($("<option value=\"ALL\"> 所有客户 </option>"));
                for (var i = 0; i < strArr.length; i++) {
                    $("#customName").append($("<option value=\"" + decodeUnicode($.trim(strArr[i])) + "\">" + decodeUnicode($.trim(strArr[i])) + "</option>"));
                }
            }
        });
    }

    function search() {
        var customName = $(" #customName ").val();
        $.ajax({
            type: "get",
            async: false,
            data: {customName: customName},
            url: "./searchCustomerBalanceInfo",
            dataType: "json",
            success: function (result) {
                console.log(result.showData)
                //清除旧数据
                $("#table_list_2").jqGrid("clearGridData");
                //显示新的数据
                showData(eval('(' + result.showData + ')'));
            }
        });
    }

    function showData(jqdata) {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid(
            {
                datatype: "json",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ["客户单位名称", "最近充值日期", "最近充值金额(元)", "当前余额(元)"],
                colModel: [
                    {
                        name: "customName",
                        index: "customName",
                        editable: false,
                        width: 100,
                        sortable: true,
                    },
                    {
                        name: "payTime",
                        index: "payTime",
                        editable: false,
                        width: 100,
                        sorttype: "date",
                        formatter: "date"
                    },
                    {
                        name: "payAmount",
                        index: "payAmount",
                        editable: false,
                        width: 100,
                        sortable: false,

                    },
                    {name: "balance", index: "balance", editable: false, width: 100, sortable: false},
                ],
                pager: "#pager_list_2",
                viewrecords: true,
                caption: "客户最新余额信息",
                add: true,
                edit: true,
                addtext: "Add",
                edittext: "Edit",
                hidegrid: false,

            });

        for (var i = 0; i <= jqdata.length; i++) {
            jQuery("#table_list_2").jqGrid('addRowData', i + 1, jqdata[i]);
        }

        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width)
        });
    }


    $(document).ready(function () {
        initSelectOptions();
    });


</script>

</body>
</html>