{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户对账单</title>
    <link href="{% static "css/table_style.css" %}" rel="stylesheet">
</head>
<body>
<div class="div_head_left">
    <p>武汉友盛气体有限责任有限公司 &nbsp; &nbsp; &nbsp; WUHAN&nbsp; YOUSHENG &nbsp; &nbsp; GASES CO.LTD</P>
    <p>武汉市洪山区创意天地&nbsp; 4-703</P>
    <p>电话:(86)(27)84237146 &nbsp; 传真:(86)(27)84660813 &nbsp; &nbsp; Tel:(86)(27)84237146 &nbsp; Fax:(86)(27)84660813</P>
</div>
<hr class="hr">

<table align="center" border='1' width=80% cellpadding='5' cellspacing='0'>

    <tr>
        <td width="15%">收件人（To）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
        <td width="15%">发件人（From）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
    </tr>

    <tr>
        <td width="15%">公司（Company）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
        <td width="15%">公司（Company）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
    </tr>
    <tr>
        <td width="15%">传真（Fax）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
        <td width="15%">电话（Tel）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
    </tr>
    <tr>
        <td width="15%">电话（Tel）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
        <td width="15%">日期（Date）</td>
        <td width="25%" height="25px"><input style="width:100%;height:100%;border: 0px;"></td>
    </tr>

</table>
<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location.href;
        var herfData = url.split("=");
        var customName = decodeURI(String((herfData[1].split("&"))[0]));
        var billDate =  (herfData[2].split("&"))[0];
        var billDateYear = billDate.slice(0,4);
        var billDateMonth = billDate.slice(5,7);
        console.log(customName);
        console.log(billDateYear);
        console.log(billDateMonth);

        var strTableTitle = billDateYear + "年" + billDateMonth + "月份" + customName + "液体结算明细";
        $("#tableTitle").text(strTableTitle);

        var fromDate = billDateYear + "-" + billDateMonth + "-01";
        var deadline = billDateYear + "-" + billDateMonth + "-31";

        $.ajax({
            type: "get",
            async: true,
            data: {customName: customName, fromDate: fromDate, deadline: deadline},
            url: "./searchForCustomerBillList",
            dataType: "json",
            success: function (result) {
                console.log(result.showData);
                var data = eval('(' + result.showData + ')');
                console.log(data.length);

                var html = "";

                html += "<tr>";
                html += "<td width='10%' rowspan='2'>" + "序号" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "品名" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "日期" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "车号" + "</td>";
                html += "<td width='20%' colspan='2' align='center'>" + "数量" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "单价（元/m<sup>3</sup>）" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "合计（元)" + "</td>";
                html += "<td width='10%' rowspan='2'>" + "备注" + " </td>";
                html += "</tr>";

                html += "<tr>";
                html += "<td width='10%'>" + "T" + "</td>";
                html += "<td width='10%'>" + "m<sup>3</sup>" + "</td>";
                html += "</tr>";

                var length = data.length;

                for (var i = 0; i < length; i++) {
                    console.log(data[i]);
                    var item = data[i];
                    html += "<tr>";
                    html += "<td>" + (i + 1) + "</td>";
                    html += "<td>" + item.category + "</td>";
                    html += "<td>" + item.storageDate + "</td>";
                    html += "<td>" + item.trailerID + "</td>";
                    html += "<td>" + item.count + "</td>";
                    html += "<td>" + item.count + "</td>";
                    html += "<td>" + item.unitPrice + "</td>";
                    html += "<td>" + 999 + "</td>";
                    html += "<td>" + "<input style='width:100%;height:100%;border: 0px;'>" + "</td>";
                    html += "</tr>";
                }

                html += "<tr>";
                html += "<td width='10%' rowspan='2'>" + "合计" + "</td>";
                for (var i = 0; i < 8; i++) {
                    html += "<td width='10%'>" + "<input style='width:100%;height:100%;border: 0px;'>" + "</td>";
                }
                html += "</tr>";

                html += "<tr>";
                html += "<td width='10%' colspan='8'>" + "<input style='width:100%;height:100%;border: 0px;'>" + "</td>";
                html += "</tr>";

                $("#list_tab").html(html);
            }

        });

    });

</script>

<h1 id="tableTitle" align="center">20XX年XX月份XX液体结算明细</h1>

<table id="list_tab" align="center" border='1' width=80% cellpadding='5' cellspacing='0'>
</table>
<div class="div_footer_left">
    <p class="p_bottom_lr">贵公司签字 &nbsp; 盖章确认如下：</P>
    <br>
    <p>签字：<input type="text"></P>
    <p>日期：<input type="text"></P>
</div>

<div class="div_footer_right">
    <p class="p_bottom_lr">武汉友盛气体有限责任有限公司</P>
    <p>编制：<input type="text"></P>
    <p>审核：<input type="text"></P>
    <p>日期：<input type="text"></P>
</div>
</body>
</html>