{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">

    <script src="{% static "My97DatePicker/WdatePicker.js" %}"></script>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div>
                        客户名称: <select id="customName" style="width: 150px"> </select>
                        账单年月:
                        <input id="billDate" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM'})">

                        <button style="width: 100px" onclick="searchByDate()">搜索交易记录</button>
                        <button id="createTableBtn" style="width: 100px" onclick="createBillListTable()">生成对账单</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
<script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
<script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">
    function decodeUnicode(str) {
        str = str.replace(/\\/g, "%");
        return unescape(str);
    }

    function handleData(item) {
        var data = item.substring(1, item.length - 1);
        var str = data.replace(/\"/g, "")
        var strArr = str.split(",")
        return strArr
    }

    // 数字补零
    function prefixInteger(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }


    //初始化下拉菜单数据
    function initSelectOptions() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getCustomerBillListSelectData",
            dataType: "json",
            success: function (result) {
                // 解析客户名称
                strArr = handleData(result.allCustomNames);
                $("#customName").html(""); //绑定客户名称下拉菜单
                //$("#customName").append($("<option value=\"0\"> -请选择客户名称- </option>"));
                for (var i = 0; i < strArr.length; i++) {
                    $("#customName").append($("<option value=\"" + decodeUnicode($.trim(strArr[i])) + "\">" + decodeUnicode($.trim(strArr[i])) + "</option>"));
                }
            }
        });
    }


    function showData(jqdata) {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid(
            {
                datatype: "json",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ["客户名称", "品种", "入库日期", "挂车号", "数量(吨/立方米)", "单价", "备注"],
                colModel: [
                    {name: "customName", index: "customName", editable: false, width: 100, sortable: false},
                    {name: "category", index: "category", editable: false, width: 100, sortable: false},
                    {name: "storageDate", index: "storageDate", editable: false, width: 100, sorttype: false},
                    {name: "trailerID", index: "trailerID", editable: false, width: 100, sortable: false},
                    {name: "count", index: "count", editable: false, width: 100, sortable: false},
                    {name: "unitPrice", index: "unitPrice", editable: false, width: 100, sortable: false},
                    {name: "comment", index: "comment", editable: false, width: 100, sortable: false}],
                pager: "#pager_list_2",
                viewrecords: true,
                caption: "客户下单记录",
                add: false,
                edit: false,
                hidegrid: false,

            });

        for (var i = 0; i <= jqdata.length; i++) {
            jQuery("#table_list_2").jqGrid('addRowData', i + 1, jqdata[i]);
        }

        // } //else {
        //jQuery("#table_list_2").html("<h3>未找到数据！</h3>")
        //alert("未找到数据!")
        // }

        if (jqdata.length > 0) {
            $("#createTableBtn").attr('disabled', false)
        } else {
            $("#createTableBtn").attr('disabled', true)
        }

        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width)
        });
    }

    function searchByDate() {
        var customName = $(" #customName ").val();
        var billDate = $(" #billDate ").val();
        var fromDate = billDate + "-01";
        var deadline = billDate + "-31";
        $.ajax({
            type: "get",
            async: false,
            data: {customName: customName, fromDate: fromDate, deadline: deadline},
            url: "./searchForCustomerBillList",
            dataType: "json",
            success: function (result) {
                var dataShow = eval('(' + result.showData + ')');
                var data = dataShow.allSalesLists;
                //清除旧数据
                $("#table_list_2").jqGrid("clearGridData");
                //显示新的数据
                showData(data);
            }
        });
    }

    $(document).ready(function () {
        initSelectOptions();
        $("#createTableBtn").attr('disabled', true);
    });

    function createBillListTable() {
        var url = "./customerStatement.html" + "?" + "customName=" + $(" #customName ").val() + "&billDate=" + $(" #billDate ").val();
        window.open(encodeURI(url));
    }
</script>
</body>
</html>