{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>首页</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2018.11.11</span>
                    <h5>今日销量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">60m³</h1>
                            <small>销量</small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">5</h1>
                            <small>销售单数</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2018.11.11</span>
                    <h5>今日采购量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">60m³</h1>
                            <small>采购量</small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">5</h1>
                            <small>采购单数</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2018.11.11</span>
                    <h5>今日营收</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">¥5000</h1>
                            <small>销售额</small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">¥608</h1>
                            <small>采购额</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">截止 2018.11</span>
                    <h5>月销售总量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">406m³</h1>
                            <small>月销售总量</small>
                            <small class="font-bold text-success">44% <i class="fa fa-level-up"></i></small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">40</h1>
                            <small>月销售单量</small>
                            <small class="font-bold text-navy">-4% <i class="fa fa-level-down"></i></small>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">截止 2018.11</span>
                    <h5>月采购总量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">8906m³</h1>
                            <small>月采购总量</small>
                            <small class="font-bold text-success">44% <i class="fa fa-level-up"></i></small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">406</h1>
                            <small>月采购单数</small>
                            <small class="font-bold text-navy">-4% <i class="fa fa-level-down"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">截止2018.11</span>
                    <h5>月营收</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">&yen; 406,420</h1>
                            <small>月销售额</small>
                            <small class="font-bold text-navy">44% <i class="fa fa-level-up"></i></small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">106</h1>
                            <small>月采购额</small>
                            <small class="font-bold text-navy">22% <i class="fa fa-level-up"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label  pull-right">截止2018.11</span>
                    <h5>损耗统计</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">60m³</h1>
                            <small>月损耗量</small>
                            <small class="font-bold text-navy">44% <i class="fa fa-level-up"></i></small>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">160m³</h1>
                            <small>年损耗总量</small>
                            <small class="font-bold text-navy">22% <i class="fa fa-level-up"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>车辆年检提醒</h5>
                </div>
                <div class="ibox-content">
                    <div id="maintenanceList" class="row">
                        {#                        <div class="col-xs-4">#}
                        {#                            <small class="stats-label">公司总人数/在职人数</small>#}
                        {#                            <h4>236 220</h4>#}
                        {#                        </div>#}
                        <p style="margin-left: 20px;">挂车001 上次年检时间 <span style="color:#0000cc"> 2018-05-20</span>
                            年检周期6个月 下次年检截止日期：<span style="color:#FF2F2F"> 2018-11-20</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基础信息一览表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">公司总人数/在职人数</small>
                            <h4 id="staffCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">客户总数</small>
                            <h4 id="customerCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">供应商总数</small>
                            <h4 id="supplierCount">0</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">气体类型数(种)</small>
                            <h4 id="gasCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">拖车总数(辆)</small>
                            <h4 id="tractorCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">挂车总数(辆)</small>
                            <h4 id="trailerCount">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/flot/jquery.flot.js" %}"></script>
<script src="{% static "js/plugins/chartJs/Chart.min.js" %}"></script>

<script type="text/javascript">

    // 获取车辆年检提醒信息
    function getManitenanceInfo() {
        var tipListDiv = $(" #maintenanceList ");
        tipListDiv.text("");
        tipListDiv.append("<h1 style='color:#FF0000;'>test</h1>")
    }

    // 获取基础信息
    function getBaseInfo() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getBaseInfoForHome",
            dataType: "json",
            success: function (result) {
                var info = eval('(' + result.showData + ')')

                $(" #staffCount ").text(info.staffCount)
                $(" #customerCount ").text(info.customerCount)
                $(" #supplierCount ").text(info.supplierCount)
                $(" #gasCount ").text(info.gasCount)
                $(" #tractorCount ").text(info.tractorCount)
                $(" #trailerCount ").text(info.trailerCount)
            }
        });
    }

    $(document).ready(function () {
        getBaseInfo();
        getManitenanceInfo();
    });


</script>
</body>

</html>
