{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>首页</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {#        <div class="col-md-4">#}
        {#            <div class="ibox float-e-margins">#}
        {#                <div class="ibox-title">#}
        {#                    <span class="label label-primary pull-right">2018.11.11</span>#}
        {#                    <h5>今日销量</h5>#}
        {#                </div>#}
        {#                <div class="ibox-content">#}
        {#                    <div class="row">#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">60m³</h1>#}
        {#                            <small>销量</small>#}
        {#                        </div>#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">5</h1>#}
        {#                            <small>销售单数</small>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="col-md-4">#}
        {#            <div class="ibox float-e-margins">#}
        {#                <div class="ibox-title">#}
        {#                    <span class="label label-primary pull-right">2018.11.11</span>#}
        {#                    <h5>今日采购量</h5>#}
        {#                </div>#}
        {#                <div class="ibox-content">#}
        {#                    <div class="row">#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">60m³</h1>#}
        {#                            <small>采购量</small>#}
        {#                        </div>#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">5</h1>#}
        {#                            <small>采购单数</small>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="col-md-4">#}
        {#            <div class="ibox float-e-margins">#}
        {#                <div class="ibox-title">#}
        {#                    <span class="label label-primary pull-right">2018.11.11</span>#}
        {#                    <h5>今日营收</h5>#}
        {#                </div>#}
        {#                <div class="ibox-content">#}
        {#                    <div class="row">#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">¥5000</h1>#}
        {#                            <small>销售额</small>#}
        {#                        </div>#}
        {#                        <div class="col-md-6">#}
        {#                            <h1 class="no-margins">¥608</h1>#}
        {#                            <small>采购额</small>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span id="span_deadline" class="label label-success pull-right">--</span>
                    <h5>销售统计(单位:m³)</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 id="currentMonthSaleSum" class="no-margins">--</h1>
                            <small>本月销售量</small>
                            <small id="currentMonthSaleSumUpPercentage" class="font-bold text-navy">--</small>
                        </div>
                        <div class="col-md-6">
                            <h1 id="currentYearSaleSum" class="no-margins">--</h1>
                            <small>年销售总量</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span id="span_deadline" class="label label-success pull-right">--</span>
                    <h5>采购统计(单位:m³)</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 id="currentMonthPurchaseSum" class="no-margins">--</h1>
                            <small>本月采购量</small>
                            <small id="currentMonthPurchaseSumUpPercentage" class="font-bold text-navy">--</small>
                        </div>
                        <div class="col-md-6">
                            <h1 id="currentYearPurchaseSum" class="no-margins">--</h1>
                            <small>年采购总量</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span id="span_deadline" class="label  label-success pull-right">--</span>
                    <h5>损耗统计(单位:m³)</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 id="currentMonthWastageSum" class="no-margins">--</h1>
                            <small> 本月损耗量</small>
                            <small id="currentMonthWastageUpPercentage" class="font-bold text-navy">--</small>
                        </div>
                        <div class="col-md-6">
                            <h1 id="currentYearWastageSum" class="no-margins">--</h1>
                            <small>年损耗总量</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span id="span_deadline" class="label label-success pull-right">--</span>
                    <h5>营收统计(单位:元)</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 id="currentMonthSaleAmount" class="no-margins">--</h1>
                            <small>本月销售额</small>
                            <small id="currentMonthSaleAmountUpPercentage" class="font-bold text-navy">--</small>
                        </div>
                        <div class="col-md-6">
                            <h1 id="currentMonthPurchaseAmount" class="no-margins">--</h1>
                            <small>本月采购额</small>
                            <small id="currentMonthPurchaseAmountUpPercentage" class="font-bold text-navy">--</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 车辆年检提醒 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>车辆年检提醒</h5>
                </div>
                <div class="ibox-content">
                    <ul id="maintenanceList" class="row"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 基础信息一览表 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基础信息一览表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">公司总人数/在职人数</small>
                            <h4 id="staffCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">客户总数</small>
                            <h4 id="customerCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">供应商总数</small>
                            <h4 id="supplierCount">0</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">气体类型数(种)</small>
                            <h4 id="gasCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">拖车总数(辆)</small>
                            <h4 id="tractorCount">0</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">挂车总数(辆)</small>
                            <h4 id="trailerCount">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/flot/jquery.flot.js" %}"></script>
<script src="{% static "js/plugins/chartJs/Chart.min.js" %}"></script>

<script type="text/javascript">

    function toPercentage(num, total) {
        // 小数点后两位百分比
        return (Math.round(num / total * 10000) / 100.00 + "%");

    }

    function getCurrentFormatDate() {
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        return year + "/" + month + "/" + date;
    }

    // 获取数据汇总信息
    function getSummary() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getSummary",
            dataType: "json",
            success: function (result) {
                var info = eval('(' + result.showData + ')');
                var arrow_down = "&nbsp;&nbsp;<i class=\"fa fa-level-down\"></i>";
                var arrow_up = "&nbsp;&nbsp;<i class=\"fa fa-level-up\"></i>";

                // 销售统计
                $(" #currentYearSaleSum ").text(info.currentYearSaleSum);
                var current_month_sale_sum = info.currentMonthSaleSum;
                var last_month_sale_sum = info.lastMonthSaleSum;
                $(" #currentMonthSaleSum ").text(current_month_sale_sum);
                var current_month_sale_up_to_last = toPercentage((current_month_sale_sum - last_month_sale_sum), last_month_sale_sum);
                var text_current_month_sale_up_to_last = current_month_sale_up_to_last;
                if (current_month_sale_sum >= last_month_sale_sum) {
                    text_current_month_sale_up_to_last += arrow_up;
                } else {
                    text_current_month_sale_up_to_last += arrow_down;
                }
                $(" #currentMonthSaleSumUpPercentage ").html(text_current_month_sale_up_to_last);


                // 采购统计
                $(" #currentYearPurchaseSum ").text(info.currentYearPurchaseSum);
                var current_month_purchase_sum = info.currentMonthPurchaseSum;
                var last_month_purchase_sum = info.lastMonthPurchaseSum;
                $(" #currentMonthPurchaseSum ").text(current_month_purchase_sum);
                var current_month_purchase_up_to_last = toPercentage((current_month_purchase_sum - last_month_purchase_sum), last_month_purchase_sum);
                var text_current_month_purchase_up_to_last = current_month_purchase_up_to_last;
                if (current_month_purchase_sum >= last_month_purchase_sum) {
                    text_current_month_purchase_up_to_last += arrow_up;
                } else {
                    text_current_month_purchase_up_to_last += arrow_down;
                }
                $(" #currentMonthPurchaseSumUpPercentage ").html(text_current_month_purchase_up_to_last);


                // 损耗统计
                $(" #currentYearWastageSum ").text(info.currentYearWastageSum);
                var current_month_wastage_sum = info.currentMonthWastageSum;
                var last_month_wastage_sum = info.lastMonthWastageSum;
                $(" #currentMonthWastageSum ").text(current_month_wastage_sum);
                var current_month_wastage_up_to_last = toPercentage((current_month_wastage_sum - last_month_wastage_sum), last_month_wastage_sum);
                var text_ucurrent_month_wastage_up_to_last = current_month_wastage_up_to_last;
                if (current_month_wastage_sum >= last_month_wastage_sum) {
                    text_ucurrent_month_wastage_up_to_last += arrow_up;
                } else {
                    text_ucurrent_month_wastage_up_to_last += arrow_down;
                }
                $(" #currentMonthWastageUpPercentage ").html(text_ucurrent_month_wastage_up_to_last);


                // 营收统计
                var current_month_sale_amount = info.currentMonthSaleAmount;
                var last_month_sale_amount = info.lastMonthSaleAmount
                $(" #currentMonthSaleAmount ").text(current_month_sale_amount)
                var current_month_sale_amount_up_to_last = toPercentage((current_month_sale_amount - last_month_sale_amount), last_month_sale_amount);
                if (current_month_sale_amount >= last_month_sale_amount) {
                    current_month_sale_amount_up_to_last += arrow_up;
                } else {
                    current_month_sale_amount_up_to_last += arrow_down;
                }
                $(" #currentMonthSaleAmountUpPercentage ").html(current_month_sale_amount_up_to_last);


                var current_month_purchase_amount = info.currentMonthPurchaseAmount;
                var last_month_purchase_amount = info.lastMonthPurchaseAmount
                $(" #currentMonthPurchaseAmount ").text(current_month_purchase_amount)
                var current_month_purchase_amount_up_to_last = toPercentage((current_month_purchase_amount - last_month_purchase_amount), last_month_purchase_amount);

                if (current_month_purchase_amount >= last_month_purchase_amount) {
                    current_month_purchase_amount_up_to_last += arrow_up;
                } else {
                    current_month_purchase_amount_up_to_last += arrow_down;
                }
                $(" #currentMonthPurchaseAmountUpPercentage ").html(current_month_purchase_amount_up_to_last)


            }
        });
    }

    // 获取车辆年检提醒信息
    function getManitenanceTips() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getMaintenanceTipsForHome",
            dataType: "json",
            success: function (result) {
                var infos = eval('(' + result.showData + ')');
                var tipListDiv = $(" #maintenanceList ");
                tipListDiv.text("");
                for (var i = 0; i < infos.length; i++) {
                    var info = infos[i];
                    tipListDiv.append(" <li><h5><span style=\"color: #0000CC\">" + info.vehicleType + info.vehicleID + "</span>上次年检时间为:" +
                        "<span style=\"color: #0000CC\">" + info.lastAnnualInspectionTime + "</span>，年检周期" +
                        "<span style=\"color: #0000CC\">" + info.annualInspectionCycle + "</span>个月，下次年检时间为：" +
                        "<span style=\"color: #0000CC\">" + info.nextAnnualInspectionTime + "</span>，" +
                        "距离下次年检时间还有<span style=\"color: #FF0000\">" + info.intervalDeadline +
                        "</span>天，请及时安排年检！</h5></li>");
                }
            }
        });

    }

    // 获取基础信息
    function getBaseInfo() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getBaseInfoForHome",
            dataType: "json",
            success: function (result) {
                var info = eval('(' + result.showData + ')');
                $(" #staffCount ").text(info.staffCount);
                $(" #customerCount ").text(info.customerCount);
                $(" #supplierCount ").text(info.supplierCount);
                $(" #gasCount ").text(info.gasCount);
                $(" #tractorCount ").text(info.tractorCount);
                $(" #trailerCount ").text(info.trailerCount);
            }
        });
    }

    $(document).ready(function () {
        var deadline_text = "截止：" + getCurrentFormatDate();
        $("span[id^='span_deadline']").each(function (i) {
            $(this).html(deadline_text);
        });

        getSummary()
        getManitenanceTips();
        getBaseInfo();

    });


</script>
</body>

</html>
