{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>友盛内部管理系统</title>
    <link href="{% static "css/login-index.css" %}" rel="stylesheet">

</head>
<body>
    <div id="login">
        <h1>友盛内部管理系统</h1>
        <form action="/" method="post">
            {% csrf_token %}
            <input id="userName" type="text" required="required" placeholder="用户名" name="userName" value="{{ userName }}"/>
            <input id="userPassword" type="password" required="required" placeholder="密码" name="userPassword" value="{{ userPassword }}"/>
            <button class="but" type="submit">登录</button>
            <p id="error">{{ error }}</p>
        </form>
    </div>

    <div class="pull-right"><p>&copy; 2018-2019 YouSheng</p></div>

</body>
</html>


