{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>月损耗</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
     <!-- jqgrid-->
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- 每月损耗列表 -->
         <div class="row">
            <div class="col-lg-12"  >
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>每月损耗列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrappermonthWastage">
                            <table id="table_monthWastage"></table>
                            <div id="pager_monthWastage"></div>
                        </div>

                     </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
    <script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
    <script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
    <script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
    <script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

    <script type="text/javascript">
        function InitMonthWastageGrid(parameters) {
             $.jgrid.defaults.styleUI="Bootstrap";
                   var mydata=[{carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"},
                  {carNo:"鄂A A50L2",carType:"挂车",leftContent:"5.2",contents:"是否清空？"}
                   ];

                   $("#table_monthWastage").jqGrid(
                        {  data:mydata,datatype:"local",height:450,autowidth:true,shrinkToFit:true,rowNum:20,rowList:[10,20,30],
                             colNames:["挂车号/拖车号","类型","现有量","备注"],
                             colModel:[
                                {name:"carNo",index:"carNo",editable:true,width:120,sorttype:"int",search:true},
                                {name:"carType",index:"carType",editable:true,width:90,sorttype:"date"},
                                {name:"leftContent",index:"leftContent",editable:true,width:100 , sorttype:"date",formatter:"date"},
                                {name:"contents",index:"contents",editable:true,width:80,align:"right"}],
                            pager:"#pager_monthWastage",viewrecords:true,caption:"车辆维修统计",add:true,edit:true,addtext:"Add",edittext:"Edit",hidegrid:false
                        }
                    );

                   $("#table_monthWastage").jqGrid("navGrid","#pager_monthWastage",{edit:true,add:true,del:true,search:true},{height:200,reloadAfterSubmit:true});
                   $(window).bind("resize",function(){var width=$(".jqGrid_wrappermonthWastage").width();$("#table_monthWastage").setGridWidth(width)}) ;

                };

         $(document).ready(function(){InitMonthWastageGrid();}) ;


    </script>
</body>

</html>
