{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>月损耗</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <!-- jqgrid-->
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">
    <script src="{% static "My97DatePicker/WdatePicker.js" %}"></script>
</head>

<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 每月损耗列表 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div>
                        挂车号: <select id="trailerID" style="width: 150px"> </select>
                        时间段 From:
                        <input id="fromDate" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                        To:
                        <input id="deadline" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                        <button style="width: 100px" onclick="search()">查询</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
<script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
<script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
<script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
<script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">


    function handleData(item) {
        var data = item.substring(1, item.length - 1);
        var str = data.replace(/\"/g, "")
        var strArr = str.split(",")
        return strArr
    }

    function decodeUnicode(str) {
        str = str.replace(/\\/g, "%");
        return unescape(str);
    }

    function initSelectOptions() {
        $.ajax({
            type: "get",
            async: true,
            url: "./getTrailerIDs",
            dataType: "json",
            success: function (result) {
                strArr = handleData(result.allTrailerIDs);
                $("#trailerID").html("");
                //$("#customName").append($("<option value=\"ALL\"> 所有客户 </option>"));
                for (var i = 0; i < strArr.length; i++) {
                    $("#trailerID").append($("<option value=\"" + decodeUnicode($.trim(strArr[i])) + "\">" + decodeUnicode($.trim(strArr[i])) + "</option>"));
                }
            }
        });
    }


    function search() {
        var trailerID = $(" #trailerID ").val();
        var fromDate = $(" #fromDate ").val();
        var deadline = $(" #deadline ").val();
        $.ajax({
            type: "get",
            async: false,
            data: {trailerID: trailerID, fromDate: fromDate, deadline: deadline},
            url: "./searchMonthWastage",
            dataType: "json",
            success: function (result) {
                //清除旧数据
                $("#table_list_2").jqGrid("clearGridData");
                //显示新的数据
                showData(eval('(' + result.showData + ')'));
            }
        });
    }

    function showData(jqdata) {
        $.jgrid.defaults.styleUI = "Bootstrap";

        $("#table_list_2").jqGrid(
            {
                datatype: "json",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ["挂车号", "损耗总量(吨)", "最近损耗校验日期", "损耗率"],
                colModel: [
                    {
                        name: "trailerID",
                        index: "trailerID",
                        editable: true,
                        width: 100,
                        sortable: false,
                    },
                    {name: "wastageCount", index: "wastageCount", editable: true, width: 100, sortable: false},
                    {
                        name: "checkDate",
                        index: "checkDate",
                        editable: true,
                        width: 100,
                        sortable: false,
                    },
                    {name: "wastageRatio", index: "wastageRatio", editable: true, width: 100, sortable: false},
                ],
                pager: "#pager_list_2",
                viewrecords: true,
                caption: "损耗列表",
                add: true,
                edit: true,
                addtext: "Add",
                edittext: "Edit",
                hidegrid: false
            }
        );


        for (var i = 0; i <= jqdata.length; i++) {
            jQuery("#table_list_2").jqGrid('addRowData', i + 1, jqdata[i]);
        }

        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width)
        });

    };

    $(document).ready(function () {
        initSelectOptions();
    });


</script>
</body>

</html>
