{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>销售单</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="{% static "css/bootstrap.min14ed.css" %}?v=3.3.6" rel="stylesheet">
    <link href="{% static "css/font-awesome.min93e3.css" %}?v=4.4.0" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.min862f.css" %}?v=4.1.0" rel="stylesheet">
    <link href="{% static "css/plugins/jqgrid/ui.jqgridffe4.css" %}?0820" rel="stylesheet">
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- 销售单 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>销售单</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table_list_2"></table>
                            <div id="pager_list_2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery.min.js" %}?v=2.1.4"></script>
    <script src="{% static "js/bootstrap.min.js" %}?v=3.3.6"></script>
    <script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>
    <script src="{% static "js/plugins/jqgrid/i18n/grid.locale-cnffe4.js" %}?0820"></script>
    <script src="{% static "js/plugins/jqgrid/jquery.jqGrid.minffe4.js" %}?0820"></script>

<script type="text/javascript">
        function InitCustomerManageGrid(parameters) {
           $.jgrid.defaults.styleUI="Bootstrap";
           var mydata = {{ showData|safe }};

           $("#table_list_2").jqGrid(
            {  data:mydata,datatype:"local",height:450,autowidth:true,shrinkToFit:true,rowNum:20,rowList:[10,20,30],
                 colNames:["销售单编号","客户名称","客户编号","采购单编号","品种","拖车号","挂车号","司机","押运员","数量 ",
                 "单价","码表公里数","日期","备注","是否已开发票","本单是否入库"],
                 colModel:[
                    {name:"salesListID",index:"salesListID",editable:true,width:100,sortable:false},
                    {name:"customName",index:"customName",editable:true,width:100,sortable:false},
                    {name:"customID",index:"customID",editable:true,width:100,sortable:false},
                    {name:"purchaseID",index:"purchaseID",editable:true,width:100},
                    {name:"category",index:"category",editable:true,width:100,sortable:false},
                    {name:"tractorID",index:"tractorID",editable:true,width:100,sortable:false},
                    {name:"trailerID",index:"trailerID",editable:true,width:100,sortable:false},
                    {name:"driverName",index:"driverName",editable:true,width:100,sortable:false},
                    {name:"supercargo",index:"supercargo",editable:true,width:100},
                    {name:"count",index:"count",editable:true,width:100,sortable:false},
                    {name:"unitPrice",index:"unitPrice",editable:true,width:100,sortable:false},
                    {name:"mileage",index:"mileage",editable:true,width:100,sortable:false},
                    {name:"date",index:"date",editable:true,width:100,sorttype:"date",formatter:"date"},
                    {name:"comment",index:"comment",editable:true,width:100,sortable:false},
                    {name:"isInvoiced",index:"isInvoiced",editable:true,width:100,sortable:false},
                    {name:"isStoraged",index:"isStoraged",editable:true,width:100,sortable:false}],
                pager:"#pager_list_2",viewrecords:true,caption:"销售单",add:true,edit:true,addtext:"Add",edittext:"Edit",hidegrid:false,editurl:"./editSalesList",
            });

           $("#table_list_2").jqGrid("navGrid","#pager_list_2",{edit:true,add:true,del:true,search:true},{height:200,reloadAfterSubmit:true});
           $(window).bind("resize",function(){var width=$(".jqGrid_wrapper").width();$("#table_list_2").setGridWidth(width)}) ;

        };

         $(document).ready(function(){InitCustomerManageGrid();}) ;


    </script>

</body>
</html>